body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin:0;
    padding: 0 15%;
    background-color: #1F2937;
    color: #f4f4f4;
    min-height: 380px;
}

.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
ul {
    display:flex;
}

li {
    margin: 0 8px;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    list-style-type: none;
}
a:link {
    text-decoration: none;
    color: #E5E7EB;
}
.intro {
    margin: 25px 0px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}
.writeup {
    max-width:350px;
    padding: 10px 0px;
}
.writeup h2{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    line-height: 1em;
}
.writeup h2, .writeup p{
    margin:0;
    padding:0;
    align-content: center;
}
.button {
    display: inline-block;
    border: none;
    margin: 4px 0px;
    padding: 5px 20px;
    text-align: center;
    background-color: #3882f6;
    border-radius:5px;
    font-weight: bold;
}

.placeholder {
    text-align: center;
    width: 50%;
    background-color: #888b8f;
}

.sect-one {
    margin:0;
    padding: 0 15%;
    min-height: 300px;
    text-align: center;
}
figure{
    text-align: center;
}
.boxes {
    display: flex;
    

}

.box {
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    /* margin: 0px; */

}
.sect-two {
    background-color: #9ba1a8;
    min-height: 250px;
    margin:0;
    padding: 10% 20% 0;
}
.two-inner p{
    font-weight: 100;
    font-size: x-large;
}
.two-inner h4{
    text-align: end;
}

