body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin:0;
    padding: 0 10%;
    background-color: #1F2937;
    color: #f4f4f4;
    min-height: 300px;
}

.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
ul {
    display:flex;
}

li {
    margin: 0 8px;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    list-style-type: none;
}
a:link {
    text-decoration: none;
    color: #E5E7EB;
}
.intro {
    display: flex;
    align-items: center;
    /* margin: 0; */
    justify-content: space-between;
}

.writeup h2 {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}
.writeup{
    align-content: center;
}

.placeholder {
    background-color: darkolivegreen;
}